<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Démystification de la conception d'un email</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="width: 50%">
<h4 style="font-size: 15px">Bonjour  ,</h4><br>

<label style="margin-top: 2px;font-size: 15px">Beautysané apporte des solutions d’alimentation saines, équilibrées et gourmandes adaptées à chacun, grâce à des conseillers disponibles à tout moment.

</label> <br>

<label style="margin-top: 3px;font-size: 15px">Nous avons étudié vos réponses et voici les résultats de votre Bodycheck. Découvrez le kit synergie que nous vous proposons, adapté à votre objectif Minceur.

</label> <br>

<div style="background-color: #0BC091;margin-top: 8% ;width: 25%;height: 25px">
    <h4>Kit Synergie Miniceur
    </h4>
</div> <br>

<img src="https://s3-eu-west-1.amazonaws.com/nleurope/img/products_bs/ED015-PK-L1.png"style="width: 25%"/><br>

<h4 style="margin-top: 5px">VOS DONNEES CHIFFREED</h4><br>
<text> IMC: <%=imc%></text><br>
<text> Taille: <%=taille%></text><br>
<text> Poids:<%=poids%></text><br>
<label style="margin-top: 8px;"><%=imct%> </label><br>

<h4 style="margin-top: 10px">
    Voici vos besoins énergétiques quotidiens, calculés en fonction de votre poids, taille, âge et activité physique sont de :  <%=dej%> kcal


</h4>

<h4 style="margin-top: 5px">
    VOTRE ALIMENTATION
</h4>

<div style="margin-top: 20px">
<label style="margin-top: 5%;"><%=cuisine%> </label><br>
<label style="margin-top: 5%;"> <%=alimentation%> </label><br>
<label style="margin-top: 8%;"><%=legume%> </label><br>
<label style="margin-top: 15px;"><%=viande%> </label><br>
<label style="margin-top: 8px;"><%=feculent%> </label><br>
<label style="margin-top: 8px;"><%=grignotez%> </label><br>
<label style="margin-top: 8px;"><%=sautez_repas%> </label><br>
</div>

<div style="margin-top: 20px">
    <h4>VOTRE RYTHME DE VIE</h4>
    <label style="margin-top: 8px;"><%=depense_enegitique%> </label><br>
    <label style="margin-top: 8px;"><%=horraire_decale%> </label><br>
    <label style="margin-top: 8px;"><%=probleme%> </label><br>

</div>

<div style="margin-top: 20px">
    <h4>VOS OBJECTIFS </h4>
    <label style="margin-top: 8px;"><%=objectif_perte%> </label><br>
    <label style="margin-top: 8px;"><%=text_poids%> </label><br>
    <label style="margin-top: 8px;"><%=surpoids%> </label><br>
    <label style="margin-top: 8px;"><%=cause_prise_poids%> </label><br>





</div>
<div style="margin-top: 20px">
    <h4>INFORMATIONS PERSONNELLES </h4>
    <label style="margin-top: 8px;"><%=pathologies%> </label><br>
    <label style="margin-top: 8px;"><%=allergie%> </label><br>
    <label style="margin-top: 8px;"><%=fummeur%> </label><br>



</div>


<div style="margin-top: 20px">
    <h4>NOS RECOMMANDATIONS PRODUITS</h4>
    <img src="https://sushidiet.shop/wp-content/uploads/2020/06/images.4.be0d1-500x500-1.png"style="width: 25%"/><br>
    <br>

    <a href="https://sushidiet.shop/produit/assortiment-sashimi/"> Assortiment sashimi</a>

    <div style="background-color: #0BC091;margin-top: 8% ;width: 25%;height: 40px;align-content: center">
        <h4>NOS PRODUITS
        </h4>
    </div> <br>


</div>

</body>
</html>
